
/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/*
=============== 
Global Styles/ Reset
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  overflow: none;
}

/* imgs easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01sms !important;
    scroll-behavior: auto !important;
  }
}

/* =========
utility clases 
=========== */
.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* header */
.logo {
  margin: clamp(1.5rem, 5vw, 2rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}

/* SPACING .flow */
/* Seclect all the elements of a divider except the first Child */
/* It is use to make the top and botton line heights and borders the same */
/* Where is a way to group things, is lower on specificy so we dont overwrite things*/
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.container {
  padding-inline: 0rem;
  margin-inline: auto;
  max-width: 1200px;
}

/* for the visually impaired -Hide Contten- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}
/* ---------
LIBRARY
------------- */

header{
  /* margin-top: 10vh; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  height: 10rem;
  position: relative;
}
header > img {
  width: 3rem;
  margin-inline: auto;
}
.container > h1 {
  text-align: center;
  padding-top: 2rem;
  border-bottom: 1px solid grey;
}


/* ---------
BUTTON 
------------*/
.new-book-btn{
  padding-inline: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.form-space{
  display: none;
  position: absolute;
  top: 0%;
  right: 0;
}

.form-space[data-visible=true]{
  display: grid;
  height: 100vh;
  width: 100vw;
  place-content: center;
  background-color: rgba(88, 88, 88, 0.5);
  z-index: 1000;
}
/* ----------
FORM FOR NEW BOOKS 
 */
 .add-Container{
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, -10%);
  background-color: rgb(250, 250, 250);
  min-height: 30vh;
  width: 20vw;
  display: grid;
  place-content: center;
  padding: .5em;
 }
.form-field{
  position:relative;
  justify-self: center;
  width:100%;
  display: flex;
  flex-direction: column;
}
.form-field:nth-child(5){
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}
.form-field>label{
  opacity: 0.3;
  padding-left: 1rem;
  position: relative;
}
.form-field>input{
  height: 2rem;
  padding-left: 1rem;
}
/* CHECKBOX */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 4vh;
  height: 2vh;
  border-radius: 12px;
  border: 1px solid black;
  background: #eee;
  transition: all 0.4s;
  margin-left: 1vh;
}
input[type="checkbox"]::before {
  width: 1.6vh;
  height: 1.6vh;
  border-radius: 10px;
  background-color: black;
  content: "";
  position: absolute;
  top: .2vh;
  left: 28%;
  transition: all 0.4s;
}
input[type="checkbox"]:checked {
  background-color: #008bb6;
  transition: all 0.4s;
}
input[type="checkbox"]:checked::before {
  left: 35%;
  transition: all 0.4s;
}
.addBook{
  margin-top: 1rem;
}
/* ------------
BOOKS CARDS
-------------- */
.container--cards{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 20rem));
  place-content: center;
  gap: 2rem;
}
.card{
box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.4);
height: 12rem;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 0.5rem;
justify-content: center;
}
.card > button{
 cursor: pointer;
}
.error[data-valid=false]{
  color: rgb(197, 0, 0);
}